<h1>Admin Home</h1>
<ul>
  <li><%= link_to "Articles", admin_articles_path %></li>
  <li><%= link_to "Projects", admin_projects_path %></li>
  <li><%= link_to "Technologies", admin_technologies_path %></li>
  <li><%= link_to "Pens", admin_pens_path %></li>
</ul>