<div class="console">
  <div class="row row-eq-height">
    <div class="col-md align-items-stretch d-flex">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Articles</h5>
          <p class="card-text">Update and create blog articles</p>
          <%= link_to "View All", admin_articles_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md align-items-stretch d-flex">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
          <p class="card-text">The main project case studies on the website</p>
          <%= link_to "View All", admin_projects_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md align-items-stretch d-flex">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Technologies</h5>
          <p class="card-text">Technologies are used by projects</p>
          <%= link_to "View All", admin_technologies_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md align-items-stretch d-flex">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Pens</h5>
          <p class="card-text">Codepen pens which can be embedded on the website</p>
          <%= link_to "View All", admin_pens_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>