<div class="row">
  <div class="col-sm">
    <table class="table table-striped">
      <thead>
        <tr class="bg-primary">
          <th width="80%" class="text-white">Title</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td><%= article.title %></td>
            <td><%= link_to 'Edit', edit_admin_article_path(article), class: "btn btn-primary" %></td>
            <td><%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= link_to 'New Article', new_admin_article_path, class: "btn btn-primary" %>
  </div>
</div>


