<h1>Pens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pens.each do |pen| %>
      <tr>
        <td><%= pen.name %></td>
        <td><%= link_to 'Edit', edit_admin_pen_path(pen) %></td>
        <td><%= link_to 'Destroy', admin_pen_path(pen), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Pen', new_admin_pen_path %>
