<div class="wrapper wrapper--homepage">
  <nav class="navigation">
    <div class="navigation__block navigation__block--about" role="navigation">
      <a class="navigation__link" href="#" role="button">ABOUT</a>
    </div>
    <div class="navigation__block navigation__block--projects" role="navigation">
      <a class="navigation__link" href="#" role="button">PROJECTS</a>
    </div>
    <div class="navigation__block navigation__block--workshop" role="navigation">
      <a class="navigation__link" href="#" role="button">WORKSHOP</a>
    </div>
    <div class="navigation__block navigation__block--articles" role="navigation">
      <a class="navigation__link" href="#" role="button">ARTICLES</a>
    </div>
  </nav>
  <main class="content">
    <div class="homepage">
      <img class="homepage__image" src="http://via.placeholder.com/320x320" alt="Headline Image" />
      <div class="homepage__text">
        <h1 class="homepage__heading">Hello, I'm Steve. An illustrator and creative developer based in Bristol, UK.</h1>
        <h2 class="homepage__subtext">Welcome to my digital home.</h2>
      </div>
    </div>
  </main>
</div>