// Home

.homepage {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.homepage__text {
  padding-left: 4rem;
  max-width: 44rem;
}

.homepage__heading, .homepage__subtext {
  font-size: 3rem;
  line-height: 1.4em;
}

.homepage__subtext {
  color: #778899;
}
