<div class="wrapper wrapper--workshop">
  <nav class="navigation">
    <div class="navigation__block navigation__block--workshop navigation__block--disabled" role="navigation">
      <a class="navigation__link" href="#" role="button">WORKSHOP</a>
    </div>
  </nav>
  <main class="content">
    <div class="workshop">
      <div class="pens">
        <div class="pen">
          <span class="pen__count">01/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">02/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">03/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">04/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">05/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">06/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">07/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">08/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
        <div class="pen">
          <span class="pen__count">09/09</span>
          <h3 class="pen__name">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
          <p class="pen__tags">CSS - Hover Effects - Buttons</p>
          <p class="pen__description">Nulla semper vel diam id tincidunt. Nulla porta eget sem et sodales. Proin faucibus neque metus, ut fermentum risus mattis vitae. Nullam eget maximus nisi, in mollis arcu.</p>
          <a class="pen__link button" href="#"><span class="button__inner">View</span></a>
        </div>
      </div>
    </div>
  </main>
</div>